fastapi
uvicorn
pydantic
python-jose[cryptography]  
passlib[bcrypt]            
sqlalchemy
pyodbc                     
numpy
tensorflow                 
python-multipart           
httpx                    
PyJwt
